/__pycache__/
/static/learning-resources/phrases/__pycache__/
/static/learning-resources/phrases/data/__pycache__/
/static/learning-resources/phrases/conjugations/__pycache__/
/build/
/dist/
/test-scripts/
/tutor.spec
.virtenv
/minigames/__pycache__/
__pycache__/
*.pyc
minigames/__pycache__/
.env