body
{
    width: 100vw;
    max-width: 100vw;
}

form
{
    width: 100vw;
    max-width: 100vw;
}

#chatbot-output
{
    width: 100vw;
    max-width: 100vw;
}

#chatbot-input
{
}

#chatbot-input input
{
}

#chatbot-input button
{
}