body
{
    /*background-color: gold;*/
    border: 0;
    margin: 0;
    padding: 0;

    display: flex;
	flex-direction: column;
	flex-wrap: wrap;

    text-align: center;

}

#header-main
{
	background-color: #808080;

	display: flex;
	align-items: stretch;
    justify-content: space-between;

    height: 10vh;
}

#header-profile-picture
{
    height: 10vh;
}

#header-profile-picture img
{
    height: 10vh;
}

#header-title
{
    align-self: center;
	font-size: 20px;
}

#header-title:hover
{
	cursor: default;
}

#header-main nav
{
    height: 10vh;
}


#header-main nav #menu-icon
{
    height: 10vh;
	z-index: 80;
}

#header-main nav #menu-icon img
{
    height: 10vh;
}

#header-main nav #menu-icon:hover
{
	background-color: #30303058;
	cursor: pointer;
	color: #80a8d0;
}

#header-main nav #menu-icon:active
{
	color: #80d0a8;
}

#header-main nav ul
{
	font-size: 20px;

	background-color: #30305880;
	border-radius: 25px;
	border: 1px solid;

	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
    align-items: center;

	position: absolute;
	top: 10vh;
	right: 0;

	transform-origin: 50% 0%;
	transform: scaleY(0);

	z-index: 79;
	transition: 0.5s;
}

#header-main nav ul a
{
	margin: 5px;
}
