body
{
    background-color: #FFFEF0;
    border: 0;
    margin: 0;
    padding: 0;

    display: flex;
	flex-direction: column;
	flex-wrap: wrap;

    text-align: center;

}

*
{
    font-family: 'Trebuchet', sans-serif;
    font-weight: bold;
}