<!DOCTYPE HTML>

<head>

<title>
LLM Chat Interface
</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/style.css') }}" >

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/chatbot.css') }}" >

</head>


<body>

    <span class="header">
    </span>

    <pre id="chatbot-output">
        {{chat_output}}
    </pre>

    <form id="chatbot-input" action="{{url_for('chat')}}" method="POST" autocomplete="off">
        <input type="text" name="chat-input">
        <button type="submit">
            chat
        </button>
    </form>

<script async type="text/javascript" src="{{ url_for('static', filename='/static/javascript/header.js') }}"></script>

</body>