<!DOCTYPE HTML>

<head>

<title>
Ollama Chat Interface
</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/style.css') }}" >

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/chatbot.css') }}" >

</head>


<body>

<span class="header">
</span>

<span id="chatbot-output">
</span>

<form id="chatbot-input" action="/chat" method="POST">
    <input type="text">
    <button type="submit">
    </button>
</form>

<script async type="text/javascript" src="{{ url_for('static', filename='/static/javascript/header.js') }}"></script>

</body>