
<!DOCTYPE HTML>

<head>
  <title>
    Learn - El Tamale Picante
  </title>
</head>


<span class="header"></span>

<div>
  <h1 class="main-choose-msg">¡Vamos aprender! Choose an activity to get started!</h1>
  <div class="main-game-container">
      <a class="game-bttn" href="/matching_page" title="Matching Game">
          Matching Game
      </a>
      <a class="game-bttn" href="/matching_page" title="Matching Game">
          Matching Game
      </a>
      <a class="game-bttn" href="/matching_page" title="Matching Game">
          Matching Game
      </a>
  </div>

  <div>
      <a href=" {{ url_for('start_quiz') }}">
          <button class="btn btn-primary">Start Quiz</button>
      </a>
      
      <br>
      <p id="timer_status"> Timer Status: ON </p>

      <label class="switch">
          <input type="checkbox" id="timerToggle" checked>
          <span class="slider round"></span>
      </label>
  </div>

</div>

<script async type="text/javascript" src="/static/javascript/header.js"></script>
<script>
    window.onload = loadTimerToggle;

    timerToggle.addEventListener("change", setTimerToggle);

    function setTimerToggle() {
        const timerToggle = document.getElementById('timerToggle')
        const status = timerToggle.checked;

        document.getElementById('timer_status').textContent = status ? 'Timer Status: ON' : 'Timer Status: OFF';

        // passing into backend variable
        fetch('/toggleTimer', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({status: status})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
        })

        .catch(error => {
            console.log('Error', error)
        });
    }

    function loadTimerToggle() {
        fetch('/toggleTimer', {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.status);
            document.getElementById('timerToggle').checked = data.status;
            document.getElementById('timer_status').textContent = data.status ? 'Timer Status: ON' : 'Timer Status: OFF';

        })
        .catch(error => {
            console.log('Error', error)
        });
    }

</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/style.css') }}" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/index.css') }}" >
