<!DOCTYPE HTML>

<head>
    <title>
        Log-In
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<span class="header"></span>
<script async type="text/javascript" src="{{ url_for('static', filename='/static/javascript/header.js') }}"></script>


<div>
    <span>LOG IN PAGE</span>
    <form id="login-form" action="{{url_for('login')}}" method="POST">
        <div>
            <label for="">Email</label>
            <input id="email" type="email" name="email">
        </div>

        <div>
            <label for="">Password</label>
            <input id="password" type="password" name="password">
        </div>


        <button type="submit">
            Enter.
        </button>
    </form>

    <div>
        <a href="/sign-up" title="Login">Sign Up</a>
    </div>

</div>