

{% extends "base.html" %}


{% block title %}
Log-In
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block body %}
<div class="login-container">
    <div class="welcome-container">
        <span>¡Bienvenido! ¿Listo para jugar?</span>
        <img src="{{ url_for('static', filename='images/picantecapy.png') }}" alt="Logo" class="profile-image" draggable="false">
    </div>

    <div class="login-section">
        <span class="login-title">Login</span>
        <form id="login-form" action="{{url_for('login')}}" method="POST">
            <div>
                <label for="">Username</label>
                <input id="username" type="username" name="username">
            </div>

            <button type="submit">
                ¡Vamos!
            </button>
        </form>
        
        <a id="signup-link" href="{{ url_for('sign_up') }}" title="Login">No account? Make one!</a>
    </div>

</div>
{% endblock %}