<!DOCTYPE html>
<head>
    <title>Matching Game</title>
</head>

<div class="match-game-container">
    <div class="match-game-header">
        <img src="/static/images/picantecapy.png" alt="Capy Decor" class="match-decor-image" draggable="false">

        <div class="match-top-container">
            <h1>Matching Game</h1>

            <div class="points-container">
                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#FFBF00" d="M283.84 867.84 512 747.776l228.16 119.936a6.4 6.4 0 0 0 9.28-6.72l-43.52-254.08 184.512-179.904a6.4 6.4 0 0 0-3.52-10.88l-255.104-37.12L517.76 147.904a6.4 6.4 0 0 0-11.52 0L392.192 379.072l-255.104 37.12a6.4 6.4 0 0 0-3.52 10.88L318.08 606.976l-43.584 254.08a6.4 6.4 0 0 0 9.28 6.72z"/>
                </svg>
                <span id="points-number">0</span>
            </div>
        </div>
        
        <hr class="matching-game-line" style="margin-left: 0vw;"> 

        <div id="dropdown-select">

            <label for="file_select">
                Choose File: 
            </label>
            <select name="file_type"  id="file_type" class="drop-options">
                <option value="Vocabulary">Vocabulary</option>
                <option value="Grammar">Grammar</option>
            </select>
            <select name="spn_lvl"  id="spn_lvl" class="drop-options">
                <option value="spn1130">Spanish 1130</option>
                <option value="spn1131">Spanish 1131</option>
                <option value="spn2200">Spanish 2200</option>
                <option value="spn2201">Spanish 2201</option>
            </select>
            <select name="chp_num"  id="chp_num" class="drop-options">
                <option value="1">Chapter 1</option>
                <option value="2">Chapter 2</option>
                <option value="3">Chapter 3</option>
                <option value="4">Chapter 4</option>
                <option value="5">Chapter 5</option>
                <option value="6">Chapter 6</option>
            </select>
            <br><br>
            <button class="file_bttn" id="load-file">Load File</button>
            <button class="hint_bttn" id="hint" disabled>Hint</button>
        </div>
    </div>

    <hr class="matching-game-line" style="margin-left: 13vw;"> 

    <div class="board-container">
        <div id="board"></div>
    </div>

    <div class="match-result-container">
        <div id="match-count">Matches: 0</div>
        <div id="status"></div>

        <button id="home-button" class="home-button">Return to Homepage</button>
    </div>

    <script 
        defer type="text/javascript" src="/static/javascript/matching.js">
    </script>


</div>

<link rel="stylesheet" type="text/css" href="/static/css/style.css" >
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/static/css/matching.css') }}" >