<!DOCTYPE HTML>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/translate.css">

<head>
    <title>
        Translation
    </title>
</head>


<span class="header"></span>

<div class="translate-container">
    
    <div class="switch-container">
        <form action="{{url_for('translate')}}" method="POST" autocomplete="off">
            <button type="submit" name="input_button" value="switch_lang">
                Switch Source Language:
                <span id="language_switch" style="display:flex; justify-content: space-evenly; flex-flow:{{lang_flow}};">
                    <span class="button_word">
                        EN
                    </span>
                    <span class="button_word">
                        ⇄
                    </span>
                    <span class="button_word">
                        ES
                    </span>
                </span>
            </button>
        </form>
    </div>

    <div class="input-container">
        <form id="input" action="{{url_for('translate')}}" method="POST" autocomplete="off">
            <input type="text" name="input" class="input-box" placeholder="Enter Text">
            <button type="submit" name="input_button" value="submit_input">
                Translate
            </button>
        </form>
    </div>

    <div class="output-container">
        {% if output %}
            {{output}}
        {% else %}
            <span class="placehold">Translated Text</span>
        {% endif %}
    </div>

</div>

<script async type="text/javascript" src="{{ url_for('static', filename='/static/javascript/header.js') }}"></script>